body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mycluster {
  transition: transform 0.3s ease-out; /* Animates the scale transformation */
}

.mycluster.spiderfied {
  transform: scale(1.5); /* Enlarges the cluster when spiderfying */
}

/* Optional: You can add animations for when markers are added to or removed from clusters */
.leaflet-marker-icon {
  transition: opacity 0.3s ease-out;
}

.marker-hidden {
  opacity: 0;
}